/* ------------------------------------------------
  Project:   Loptus - Digital Marketing Agency Responsive HTML5 Template
  Author:    ThemeHt
------------------------------------------------ */
/* ------------------------
    Table of Contents

  1. General
  2. Transition
  3. Transform translate
  4. Box Shadow
  5. Pre Loader
  6. Background Overlay
  7. Scroll to Top
  8. Subscribe Form
  9. Header Search
  10. Header
  11. Footer
  12. Page Title
  13. Flat Icon

 
/* ------------------------
    General
------------------------*/
a {
    text-decoration: none;
}
a:focus {
    text-decoration: none !important;
}
a:focus,
a:hover {
    color: #ff7810;
    text-decoration: none !important;
}
a,
button,
input {
    outline: medium none !important;
    color: #ff7810;
}

*::-moz-selection {
    background: #ff7810;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #ff7810;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #ff7810;
    color: #fff;
    text-shadow: none;
}

/* ------------------------
    Transition
------------------------*/
a,
i,
.btn,
button,
img,
.animatedBackground,
.navbar-nav .nav-link:before,
.dropdown-item,
.portfolio-item:before,
.portfolio-item:after,
.owl-item,
.cases-item,
.cases-description,
.featured-item .featured-icon i,
.featured-item,
.featured-icon,
.price-table,
.portfolio-filter button,
.post .post-desc,
.sidebar-links li a,
.team-description {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

/* ------------------------
    Transform translate
------------------------*/

/*--translate-X--*/
.transform-x,
.bnr-animation,
.text-center .title:before {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

/*--translate-Y--*/
.transform-y,
.bnr-img2,
.image-column,
.counter i,
.align-center,
.clear-loader,
.widget-searchbox .search-btn,
.featured-item.style-3 .featured-icon,
.post-queto .item span {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

/*--translate-XY--*/
.clear-loader,
.pattern-3,
.video-btn-pos,
.insideText {
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
}

/*--translate-X-5--*/
.navbar-nav .dropdown-menu .nav-link:focus,
.navbar-nav .dropdown-menu .nav-link:hover {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -o-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -moz-transform: translateX(5px);
}

/*--translate-Y-5--*/
.featured-item:hover {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -moz-transform: translateY(5px);
}

/* ------------------------
    Box Shadow
------------------------*/
.box-shadow,
.boxed-view,
.btn,
.dropdown > .dropdown-menu,
#header-wrap.fixed-header,
#ht-main-nav,
.search-input,
#mc-form input[type="email"],
.featured-item.style-2,
.featured-item.style-4:hover,
.featured-item.style-4 .featured-icon i,
.featured-item.style-4.active,
.featured-item.style-4:before,
.featured-item.style-4:after,
.testimonial .testimonial-img img,
.testimonial .testimonial-quote,
.price-table,
.tab .nav-tabs .nav-link,
.post,
.post-author-img,
.post.style-2 .post-desc,
.work-process.style-2 .step-num,
.cases-item:hover,
.active.center .cases-item,
.tab.style-2 .tab-content,
.featured-item:hover,
.form-control,
.info-inner,
.accordion .card-header,
.media-holder .media,
.team-member:hover .team-description,
.team-member.active .team-description,
.team-member:hover .team-social-icon,
.team-member.active .team-social-icon {
    -webkit-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
}

/* ------------------------
    Pre Loader
------------------------*/
#ht-preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden !important;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.clear-loader {
    z-index: 999;
    box-sizing: border-box;
    display: inline-block;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
}
.loader {
    display: flex;
    font-size: 2em;
    color: #ff7810;
}
.loader-dots {
    display: flex;
    position: relative;
    top: 20px;
    left: -10px;
    width: 100px;
    animation: dots 4s ease infinite 1s;
}
.loader-dots span {
    position: relative;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: black;
}
.loader-dots span:nth-child(1) {
    width: 0px;
    height: 0px;
    margin: 5px;
    margin-right: 15px;
    animation: show-dot 4s ease-out infinite 1s;
}
.loader-dots span:nth-child(4) {
    background-color: transparent;
    animation: dot-fall-left 4s linear infinite 1s;
}
.loader-dots span:nth-child(4):before {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 100%;
    background: #111121;
    content: "";
    animation: dot-fall-top 4s cubic-bezier(0.46, 0.02, 0.94, 0.54) infinite 1s;
}

/* ------------------------
    Background Overlay
------------------------*/
[data-overlay] {
    position: relative;
    z-index: 0;
}
[data-overlay]:before,
.slide-overlay:before {
    position: absolute;
    content: "";
    background-color: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
[data-overlay].white-overlay:before {
    background-color: #fff;
}
[data-overlay].theme-overlay:before {
    background-color: #ff7810;
}
[data-overlay].grediant-overlay:before {
    background: rgb(255, 120, 16);
    background: linear-gradient(
        90deg,
        rgba(255, 120, 16, 1) 0%,
        rgba(255, 183, 47, 1) 50%
    );
}
[data-overlay="1"]:before {
    opacity: 0.1;
}
[data-overlay="2"]:before {
    opacity: 0.2;
}
[data-overlay="3"]:before {
    opacity: 0.3;
}
[data-overlay="4"]:before {
    opacity: 0.4;
}
[data-overlay="5"]:before {
    opacity: 0.5;
}
[data-overlay="6"]:before {
    opacity: 0.6;
}
[data-overlay="7"]:before {
    opacity: 0.7;
}
[data-overlay="8"]:before {
    opacity: 0.8;
}
[data-overlay="9"]:before {
    opacity: 0.9;
}
[data-overlay="10"]:before {
    opacity: 1;
}
[data-overlay="0"]:before {
    opacity: 0;
}

/* ------------------------
    Scroll to Top
------------------------*/
.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 600;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}
.scroll-top a,
.scroll-top a:visited {
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 32px;
    color: #ffffff;
    background: #ff7810;
}
.scroll-top a:hover,
.scroll-top a:focus {
    color: #ff7810;
    background: #ffffff;
}
.scroll-top.scroll-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* ------------------------
    Subscribe Form
------------------------*/
.subscribe-form {
    margin: 0;
    padding: 0;
    position: relative;
    width: 350px;
}
#mc-form {
    width: 100%;
}
#mc-form input[type="email"] {
    width: 100%;
    border: none;
    background: #ffffff;
    border-radius: 5px;
    color: #111121;
    font-size: 14px;
    padding: 0 20px;
    height: 50px;
}
#mc-form input[type="email"]::-webkit-input-placeholder {
    color: #111121;
}
#mc-form input[type="email"]::-moz-placeholder {
    color: #111121;
}
#mc-form input[type="email"]:-ms-input-placeholder {
    color: #111121;
}
#mc-form input[type="email"].placeholder {
    color: #111121 !important;
}
#mc-form .btn {
    position: absolute;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 0;
    right: 0;
    padding: 12px 25px;
    transition: 0.2s;
    height: 50px;
}
#mc-form .btn:hover {
    animation: inherit;
}

/* ------------------------
    Header Search
------------------------*/
.search {
    display: inline-block;
    margin: 0 30px 0 20px;
    height: 100%;
}
.search-content {
    width: 100%;
    height: 100%;
}
.search-button {
    color: #ff7810;
    cursor: pointer;
    font-size: 24px;
}
.search-form {
    position: absolute;
    right: 0;
    top: 90px;
    width: 237px;
    height: 40px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.search-form.active {
    top: 75px;
    visibility: visible;
    opacity: 1;
}
.search-input {
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: #1b0b32;
    padding-left: 20px;
    outline: none !important;
    border: 1px solid #ff7810;
}

/* ------------------------
    Header
------------------------*/
.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1200;
}
#header-wrap {
    padding: 15px 0;
}
#header-wrap.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999 !important;
    background: #ffffff !important;
}
.logo img {
    height: 70px;
}
#header-wrap.fixed-header .logo img {
    height: 65px;
}

/*--navigation--*/
.navbar {
    padding: 0;
}
.navbar-nav .nav-item.dropdown .dropdown-menu {
    padding: 10px;
    background: #141414;
    top: 120%;
    margin-top: 0;
}
.navbar-brand {
    margin-right: 0;
    padding: 0;
}
.nav-item.dropdown .dropdown-menu a {
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
    position: relative;
    background: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}
.nav-item.dropdown .dropdown-menu a:hover {
    background: #ff7810;
    color: #ffffff;
    padding-left: 15px;
}
.nav-item.dropdown .dropdown-menu:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    outline: 1px solid #555555;
    outline-offset: -10px;
    content: "";
    z-index: -1;
}

@media (min-width: 992px) {
    .navbar-nav .dropdown-menu {
        min-width: 12em !important;
        max-width: 20em !important;
    }
    .navbar-nav .dropdown > .dropdown-menu {
        opacity: 0;
        position: absolute;
        display: block;
        pointer-events: none;
        background: #ffffff;
    }
    .navbar-nav .dropdown:hover > .dropdown-menu {
        display: block;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        top: 100%;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }
    .navbar-nav .dropdown-submenu:hover .dropdown-menu {
        top: 0;
    }
}

@media (max-width: 991.98px) {
    .navbar-nav .dropdown-submenu .dropdown-menu {
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        top: 0;
    }
}

.navbar-nav .dropdown-menu .dropdown-submenu .dropdown-menu {
    left: 100%;
    margin: 0;
    right: auto;
    top: 0;
}
.navbar-nav .dropdown-submenu {
    display: block;
    position: relative;
}
.navbar-nav .dropdown-submenu .dropdown-toggle::after {
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-right: none;
    border-left: 0.3em solid;
    position: absolute;
    right: 1em;
    margin: 0;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-brand {
    margin-right: 0;
}
.navbar-nav .nav-item {
    margin: 0 3px;
}
.navbar-nav .nav-link {
    color: #111121;
    font-weight: 500;
    padding: 15px 10px !important;
    border-radius: 0;
    text-transform: capitalize;
    overflow: hidden;
    position: relative;
}
.navbar-nav .nav-link:before {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    height: 3px;
    animation: rotate 80s infinite linear;
    -webkit-animation: rotate 80s infinite linear;
    content: "";
    border-radius: 5px;
    opacity: 0;
    background: #bf9000;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
    color: #ff7810;
}
.navbar-nav .nav-link:hover:before,
.navbar-nav .nav-item .nav-link.active:before {
    opacity: 1;
}

#ht-main-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    width: 350px;
    height: 100%;
    overflow-y: scroll;
    background: #ffffff;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
#ht-main-nav .ht-nav-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    height: 44px;
    width: 44px;
    line-height: 0;
    padding: 0 !important;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#ht-main-nav .ht-nav-toggle span {
    top: 18px !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 0;
    text-indent: 0;
}
#ht-main-nav .ht-nav-toggle.show {
    visibility: visible;
    opacity: 1;
}
.ht-nav-toggle {
    cursor: pointer;
    text-decoration: none;
}
.ht-nav-toggle.active.show span::before,
.ht-nav-toggle.active.show span::after {
    background: #141414;
}
.ht-nav-toggle:hover,
.ht-nav-toggle:focus,
.ht-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}
.ht-nav-toggle span {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 30px;
    height: 2px;
    text-transform: uppercase;
    text-indent: -55px;
    background: #ff7810;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.menu-show .ht-nav-toggle span {
    background: transparent;
}
.ht-nav-toggle span::before,
.ht-nav-toggle span::after {
    content: "";
    width: 40px;
    height: 2px;
    background: #ff7810;
    position: absolute;
    right: 0;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
.ht-nav-toggle span::before {
    top: -7px;
    width: 20px;
}
.ht-nav-toggle span::after {
    bottom: -7px;
}
.ht-nav-toggle.active span {
    background: transparent;
}
.menu-show .ht-nav-toggle span::before,
.menu-show .ht-nav-toggle span::after {
    background: transparent;
}
.ht-nav-toggle.active span::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.ht-nav-toggle.active span::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.ht-nav-toggle {
    float: right;
    z-index: 1003;
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 0;
}
#ht-main-nav .ht-nav-toggle:hover span::before,
#ht-main-nav .ht-nav-toggle:hover span::after {
    content: "";
    width: 40px;
    height: 2px;
    background: #ff7810;
    position: absolute;
    left: 0;
}
.menu-show #ht-main-nav {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
#ht-main-nav .ht-nav-toggle span::before {
    width: 40px;
}
#ht-main-nav .ht-nav-toggle span {
    width: 40px;
}
.side-logo {
    height: 60px;
}

.header-2 .navbar-nav .nav-link,
.header-2 .navbar-nav .nav-link:hover,
.header-2 .navbar-nav .nav-item .nav-link.active {
    color: #fff;
}
.header-2 .search-button {
    color: #fff;
}
.header-2 .ht-nav-toggle span,
.header-2 .ht-nav-toggle span::before,
.header-2 .ht-nav-toggle span::after {
    background: #fff;
}
.header-2 #header-wrap.fixed-header .navbar-nav .nav-link {
    color: #111121;
}
.header-2 #header-wrap.fixed-header .search-button,
.header-2 #header-wrap.fixed-header .navbar-nav .nav-link:hover,
.header-2 #header-wrap.fixed-header .navbar-nav .nav-item .nav-link.active {
    color: #ff7810;
}
.header-2 #header-wrap.fixed-header .ht-nav-toggle span,
.header-2 #header-wrap.fixed-header .ht-nav-toggle span::before,
.header-2 #header-wrap.fixed-header .ht-nav-toggle span::after {
    background: #141414;
}
.logo .sticky-logo {
    display: none !important;
}
.header-2 #header-wrap.fixed-header .logo > img {
    display: none !important;
}
.header-2 #header-wrap.fixed-header .logo .sticky-logo {
    display: block !important;
}

.boxed-view .header {
    position: relative;
}

/* ------------------------
    Footer
------------------------*/
.primary-footer {
    position: relative;
    z-index: 99;
}
.secondary-footer {
    padding: 30px 0;
    background: #d8bb62;
    color: #111121;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-logo img {
    height: 70px;
}
.primary-footer,
.primary-footer a {
    color: #111121;
}
.primary-footer h5 {
    margin-bottom: 20px;
}

.media-icon.list-inline li {
    display: inline-block;
}
.media-icon li {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
}
.media-icon li:last-child {
    margin-bottom: 0;
}
.media-icon li a:hover {
    color: #ff7810;
}

.footer-list li {
    margin-bottom: 15px;
    text-transform: capitalize;
}
.footer-list li:last-child {
    margin-bottom: 0;
}
.footer-list li a {
    position: relative;
    z-index: 99;
    font-size: 16px;
    padding: 2px 0;
    font-weight: 400;
    color: #111121;
}
.footer-list li a:hover {
    background: #ff7810;
    color: #ffffff;
    padding: 2px 10px;
}

.ht-theme-info {
    display: inline-block;
    padding: 40px;
    z-index: 2;
}
.footer-logo {
    margin-bottom: 15px;
}

.round-p-animation {
    position: absolute;
    bottom: 0;
    right: -100px;
    margin-top: -50px;
    z-index: -1;
    background: transparent;
    width: 200px;
    height: 200px;
    /* border: 10px solid #d8bb62; */
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    display: inline-block;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    -webkit-transition-property: color, background, border-color;
    transition-property: color, background, border-color;
}
.round-p-animation:after,
.round-p-animation:before {
    content: "";
    border: 10px solid #d8bb62;
    /* border-color: inherit; */
    width: 270%;
    height: 270%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: -85%;
    top: -85%;
    opacity: 1;
    -webkit-animation: 2s videomodule-anim linear infinite;
    animation: 2s videomodule-anim linear infinite;
}
.round-p-animation:before {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

/* ------------------------
    Page Title
------------------------*/
.page-title {
    display: block;
    position: relative;
    padding: 200px 0;
}
.page-title h1 {
    font-size: 50px;
    color: #1c2045;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}
.breadcrumb {
    padding: 0;
    background: none;
    display: inline-block;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    color: #111121;
    font-weight: 700;
}
.breadcrumb-item {
    display: inline-block;
}
.breadcrumb-item a {
    color: #111121;
}
.breadcrumb-item.active,
.breadcrumb-item a:hover {
    color: #ff7810;
}
.page-title-pattern {
    bottom: 0;
    position: absolute;
}

/* ------------------------
    Flat Icon
------------------------*/
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Flaticon.woff") format("woff"),
        url("../fonts/Flaticon.ttf") format("truetype"),
        url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-email:before {
    content: "\f100";
}
.flaticon-call:before {
    content: "\f101";
}
.flaticon-location:before {
    content: "\f102";
}
.flaticon-play-button:before {
    content: "\f103";
}
.flaticon-user:before {
    content: "\f104";
}
.flaticon-check:before {
    content: "\f105";
}
.flaticon-development:before {
    content: "\f106";
}
.flaticon-like:before {
    content: "\f107";
}
.flaticon-checked:before {
    content: "\f108";
}
.flaticon-tick:before {
    content: "\f109";
}
.flaticon-plus:before {
    content: "\f10a";
}
.flaticon-more:before {
    content: "\f10b";
}
.flaticon-quotation:before {
    content: "\f10c";
}
.flaticon-upload:before {
    content: "\f10d";
}
