/* Portofolio */

.img-porto {
    width: 100%;
    height: 225px;
    object-fit: contain;
}

@media screen and (max-width: 996px) {
    .img-porto {
        height: 200px;
    }
}
@media screen and (max-width: 450px) {
    .img-porto {
        height: 180px;
    }
}

/* About Us */
.img-about {
    width: 100%;
    /* height: 450px; */
    object-fit: contain;
}

.head-page {
    margin-top: 120px;
}
@media screen and (max-width: 768px) {
    .img-about {
        height: 325px;
    }
    .head-page {
        margin-top: 125px;
    }
}

@media screen and (max-width: 450px) {
    .img-about {
        height: 250px;
    }
    .head-page {
        margin-top: 135px;
    }
}

/* Blogs Pages */
.latest.card {
    position: sticky;
    top: 85px;
    
    border: none;
    border-radius: 5px;
    box-shadow: -1px 5px 15px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 5px 15px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 5px 15px 5px rgba(0, 0, 0, 0.25);
}

.latest .title-lates{
    
    font-size: 12px;
}
.latest .title-card{
    margin-bottom: 30px;
    font-weight: 600;
}

.category-card{
    border: 2px solid #c59f34;
    background-color: white;
    width: 100%;
    padding: 8px 12px;
    height: 100%;
    margin-bottom: 15px;
}
.category-card .category-name{
    color: #c59f34;
    font-weight: 600;
    margin-bottom: 0px;
    text-align: center;
}

.category-card:hover .category-name{
    color: white;
}

.title-part{
    font-weight: 600;
    color: #1c2045;
}
.page-title{
    padding-top: 200px;
    padding-bottom: 0px;
}

.margin-part{
    height: 65px;
}

.img-game{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.img-game:focus,
.img-game:hover{
    transform: scale(1.05);
}
.blog__desc font{
    font-family: 'Poppins';
}
.blog__desc span {
    font-family: normal  !important;
    /* font-size: 13px !important; */
    
    color: #7d7d7d !important;
}
.img-digital{
    height: 90px;
    width: 90px;
    object-fit: contain;
}
.img-webinar-bg{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.img-webinar-small{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

@media screen and (max-width: 450px) {
    .img-webinar-bg{
        height: 200px;
        margin-top: 60px;
    }
    .img-webinar-small{
        height: 140px;
    }
}