@import "./blog.css";

/*** Custom CSS for Landing Page Here ***/
body {
    background-color: white !important;
    background-image: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

a[data-icon="line"] {
    background: rgb(0, 195, 0) !important;
}

a[data-icon="line"] i{
    color: white!important;
}

a[data-icon="fb"] {
    background: rgb(59, 89, 152) !important;
}

a[data-icon="twitter"] {
    background: rgb(43, 169, 225) !important;
}

a[data-icon="linkedin"] {
    color: #1966c2 !important;
    background: #1966c2 !important;
}

a[data-icon="whatsapp"] {
    color: #36d366 !important;
    background: #36d366 !important;
}

.pass-text {
    color: #ffaa3a;
    font-weight: bold;
}

.pass-text:hover {
    color: #cb9043;
}

/* ====================================== FONT ====================================== */

.white-normal-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: white;
}

.white-normal-20 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: white;
}

.white-semi-20 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: white;
}

.white-semi-32 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #ffffff;
}

.black-normal-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.75) !important;
}

.black-normal-15 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;

    color: #1b1d1f;
}

.black-normal-16 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: black !important;
}

.black-normal-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(27, 29, 31, 0.75) !important;
}

.black-normal-22 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: black !important;
}

.black70-normal-24 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    color: black !important;
}

.black75-normal-18 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(27, 29, 31, 0.75);
}

.black-normal-48 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;

    color: #1b1d1f;
}

.black-semi-20 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 48px;

    color: #1b1d1f;
}

.black-semi-36 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-transform: capitalize;
    color: black !important;
}

.black-bold-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    color: black !important;
}

.black-bold-16 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: black !important;
}

.black-bold-22 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: black !important;
}

.black-bold-24 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: black !important;
}

.black-bold-32 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: black !important;
}

.black-bold-36 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 72px;
    text-transform: capitalize;
    color: black !important;
}

.black-bold-48 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-transform: capitalize;
    color: black !important;
}

[class^="number-slide"],
[class*=" number-slide"] {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    max-height: 100vh;
    border-radius: 10px;
    padding: 12px 28px;
}

.mr-1 {
    margin-right: 2px;
}

.mr-4 {
    margin-right: 10px;
}

.mr-1 {
    margin-left: 2px;
}

.good-share-modal-open .good-share-modal,
.good-share-modal-open .good-share-overlay {
    display: none !important;
}

.dropdown-item {
    cursor: pointer;
}

.drop__font {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .black-bold-36 {
        font-size: 26px;
        line-height: 36px;
    }

    .black75-normal-18 {
        font-size: 14px;
        line-height: 21px;
    }

    .black-normal-48 {
        font-size: 26px;
        line-height: 36px;
    }

    .white-semi-32 {
        font-size: 20px;
        line-height: 27px;
    }

    .white-normal-14 {
        font-size: 12px;
        line-height: 18px;
    }

    .black-normal-22 {
        font-size: 14px;
        line-height: 18px;
    }

    .black-normal-14 {
        font-size: 12px;
        line-height: 18px;
    }

    .black-semi-36 {
        font-size: 20px !important;
        line-height: 27px;
    }

    .black-normal-14 {
        font-size: 12px;
        line-height: 18px;
    }

    .black-bold-32 {
        font-size: 26px;
        line-height: 36px;
    }

    .black-normal-16 {
        line-height: 24px;
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .white-semi-20 {
        font-size: 16px;
        line-height: 24px;
    }

    .white-normal-20 {
        font-size: 12px;
        line-height: 16px;
    }
}
