.landing__tcw_hero {
    /* border: 1px solid red; */
    position: relative;
}

.landing__tcw_hero img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.landing__tcw_hero h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2em;
    color: #000000;
}

.landing__tcw_hero h6 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin: 0;
}

.landing__tcw_hero h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}

.landing__tcw_hero form {
    position: relative;
    z-index: 3;
}

.landing__tcw_hero form input {
    background: #ffffff;
    border: 3px solid #000000;
    border-radius: 5px;
}

.landing__tcw_hero form button {
    width: 100%;
    background: #d8bb62;
    border: 3px solid #000000;
    box-shadow: 0px 4px 2px #000000;
    border-radius: 5px;

    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    padding: 7px;
}

.landing__tcw_info .card {
    background: #ffffff;
    border: 1px solid #bf9000;
    box-sizing: border-box;
    /* box-shadow: 0px 21px 20px rgba(191, 144, 0, 0.1); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -12px 0px 0px #bf9000;
    border-radius: 20px;
    padding: 1rem;
}

.landing__tcw_info .card h2 {
    font-weight: 700 !important;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    letter-spacing: 0;
}

.landing__tcw_info .card h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.landing__tcw_info .card a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    /* text-decoration-line: underline; */
    color: #d8bb62;
    letter-spacing: 0;
}

.landing__tcw_info.top_card h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #e02800;
    letter-spacing: 0;
    text-transform: none;
    margin-top: 50px;
}

.landing__tcw_info.top_card h5 {
    text-align: left;
    text-transform: none;
    margin: 25px auto;
    width: 80%;
}
.landing__tcw_info.top_card h2 {
    text-transform: none;
    margin-bottom: 50px;
}

.landing__tcw_info.top_card .card {
    box-shadow: 0px 21px 20px rgba(191, 144, 0, 0.1);
    margin-bottom: 125px;
}

.landing__tcw_desc h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    text-transform: none;
    letter-spacing: 0;
}
.landing__tcw_desc h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    text-transform: none;
    letter-spacing: 0;
}

.orderr-1 {
    order: 1;
}
.orderr-2 {
    order: 2;
}

.landing__tcw_benefit h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    margin-bottom: 35px;
}

.landing__tcw_benefit h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    letter-spacing: 0;
}

.landing__tcw_benefit p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0;
}

.landing__tcw_benefit .card {
    background: #ffffff;
    border: 1px solid #bf9000;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 2rem;
}

.img__orn_mid {
    position: absolute;
    right: 0;
    top: -150px;
    width: 750px;

    /* border: 1px solid red; */
}

.testi__wrapper {
    width: 80%;
    margin: 100px auto;
}

.landing__tcw_testi_title {
    background: #d8bb62;
    border-radius: 5px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2em;
    color: #876600;
    width: 300px;
    text-align: center;
    padding: 8px;

    margin-bottom: 25px;
}

.landing__tcw_testi h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #876600;
    margin-bottom: 25px;
}

.landing__tcw_testi_people {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.landing__tcw_testi_people h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    letter-spacing: 0;
    margin: 0;
}

.landing__tcw_testi_people h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0;
    margin: 0;
}

.number-slide1 img {
    margin-top: -100px;
}

.keen-slider,
.keen-slider__slide {
    /* overflow: unset; */

    overflow: visible !important;
    /* overflow-x: hidden !important; */
}

.keen-slider__slide .card {
    height: 100%;
}

.landing__tcw_footer h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #876600;
}

.landing__tcw_footer button {
    background: linear-gradient(100.07deg, #c59f34 3.68%, #bf8131 93.99%);
    border: 3px solid #000000;
    box-shadow: 0px 4px 2px #000000;
    border-radius: 5px;
    margin-top: 25px;

    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    padding: 8px;
    width: 400px;
}


@media screen and (max-width: 425px) {
    .landing__tcw_hero h5 {
        font-size: 14px;
        line-height: 20px;
    }

    .landing__tcw_hero h1 {
        font-size: 32px;
        line-height: 42px;
    }

    .landing__tcw_info .card {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -12px 0px 0px #bf9000;
        width: 95%;
        margin: 0 auto;
    }

    .landing__tcw_info .card h2 {
        font-size: 24px;
        line-height: 34px;
        text-align: left;
    }

    .landing__tcw_info .card h5 {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        text-align: left;
        text-transform: none;
    }

    .landing__tcw_info .card a {
        font-size: 12px;
        line-height: 14px;
        text-align: left !important;
    }

    .landing__tcw_info.top_card h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 25px;
    }

    .landing__tcw_info.top_card h5 {
        text-align: left;
        text-transform: none;
        margin: 25px auto;
        width: 100%;
    }
    .landing__tcw_info.top_card h2 {
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }

    .landing__tcw_info.top_card .card {
        box-shadow: 0px 21px 20px rgba(191, 144, 0, 0.1);
        margin-bottom: 50px;
        width: 100%;
    }

    .landing__tcw_desc h2 {
        font-size: 24px;
        line-height: 34px;
    }
    .landing__tcw_desc h5 {
        font-size: 14px;
        line-height: 20px;
    }

    .landing__tcw_desc img {
        margin-bottom: 15px;
    }

    .orderr-1 {
        order: 2;
    }
    .orderr-2 {
        order: 1;
    }

    .landing__tcw_testi h2 {
        font-size: 20px;
        line-height: 28px;
        color: #876600;
    }

    .landing__tcw_testi_people {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .landing__tcw_testi_people h5 {
        font-size: 14px;
        line-height: 20px;
    }

    .landing__tcw_testi_people h6 {
        font-size: 12px;
        line-height: 24px;
    }

    .landing__tcw_testi_title {
        font-size: 12px;
        line-height: 24px;
        width: 200px;
        margin-bottom: 15px;
    }

    .landing__tcw_benefit h3 {
        font-size: 22px;
        line-height: 28px;
    }

    .landing__tcw_benefit h5 {
        font-size: 16px;
        line-height: 22px;
    }

    .landing__tcw_benefit p {
        font-size: 12px;
        line-height: 18px;
    }

    .landing__tcw_benefit .card {
        padding: 1rem;
    }

    .number-slide1 img {
        margin-top: -100px;
        width: 100px;
    }

    .landing__tcw_footer h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .landing__tcw_footer button {
        background: linear-gradient(100.07deg, #c59f34 3.68%, #bf8131 93.99%);
        border: 3px solid #000000;
        box-shadow: 0px 4px 2px #000000;
        border-radius: 5px;
        margin-top: 25px;

        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
        padding: 8px;
        width: 100%;
    }
    
    .testi__wrapper {
        width: 100%;
        margin: 100px auto;
    }
}

.swal2-title {
    font-size: 18px !important;
    line-height: 22px !important;
    letter-spacing: 0;
}

.swal2-html-container {
    font-size: 14px !important;
    letter-spacing: 0;
    margin-top: 10px !important;
}
