.header {
    background-color: white;
}
.footer {
    background-color: rgb(191, 129, 49);
}
.content {
    background-color: rgb(255, 251, 247);
}
.mySwiper .swiper-slide {
    height: 370px;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(191, 129, 49) !important;
}

.swiper-pagination-bullet-active {
    background: rgb(191, 129, 49) !important;
}

.title-part {
    color: black;
    font-weight: 600;
}
.detail-part {
    color: rgb(80, 80, 80);
    font-weight: 400;
}
.detail-banner {
    font-size: 13px;
}
.why-card.card {
    background-color: rgb(255, 246, 198);
    border: 1px solid rgb(191, 129, 49);
}

.btn__prim {
    color: white;
    background-color: rgb(191, 129, 49);
    font-weight: 600;
}
.btn_wa {
    color: white;
    background-color: #25d366;
    font-weight: 600;
}
.divider-landing {
    height: 60px;
}
.inside-padding {
    height: 25px;
}

.layanan.card {
    border: 1px solid rgb(191, 129, 49);
    height: 490px;
    margin-bottom: 25px;
    background-color: white;
    transition: top ease 0.5s;
}
.layanan.card:hover {
    top: -5px;
}
.layanan .title {
    color: black;
    height: 60px !important;
}
.layanan .title::before {
    width: 100% !important;
}

.img-symbol {
    width: 100px;

    object-fit: contain;
}
.img-partner {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.div-partner {
    position: relative;
    width: 100%;
    height: 200px;
}
.div-partner.short {
    height: 120px;
}
.div-partner .info {
    display: none;
   
}

.div-partner:hover .info {
    display: block;
    background-color: #00000095;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
}
.div-partner.short:hover .info {
    height: 120px;
}
.img-calendar {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.error-text {
    color: red;
    font-size: 11px;
    margin-bottom: 15px;
}
.form-title {
    font-weight: 500;
    color: black;
}
.map-gugel {
    width: 100%;
    height: 300px;
}
.icon-data {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}
.icon-data img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.btn-wa {
    position: fixed;
    bottom: 30px;
    right: 25px;
    width: 60px;
    height: 60px;
    z-index: 1000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36d366;
}
.btn-wa > * {
    color: white !important;
    font-size: 45px;
}

.title-banner {
    color: rgb(191, 129, 49);
    margin-bottom: 30px;
}
.banner-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 280px;
}
#content-data .form-control {
    border: 1px solid rgba(191, 130, 49, 0.596);
}

.section-form-1 .card,
.section-form-2 .card {
    border: 1px solid rgb(146, 88, 13);
}

.img-testi {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.testi-detail {
    color: #00000080;
    margin-bottom: 25px;
}

.testi-name {
    color: #00000080;
    margin-bottom: 0px;
    font-weight: 600;
}
.layanan ul li {
    margin-left: 25px;
}
.event-sect .testimonial.style-2 .testimonial-img img{
    width: 100%;
    height: 380px;
    background: white;
    object-fit: contain;
}
.img-logo-perusahaan{
    width: 100%;
    max-width: 220px;
    
}
.grup-name{
    color: black;
    font-weight: 600;
}

.grup-name span{
    background-color:#c59f34 ;
    padding: 5px;

}
.divider-perusahaan{
    height: 35px;
}
.img-logo-banner{
    width: 140px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}
@media screen and (max-width: 996px) {
    .header-mobile {
        background-color: white;
    }
}
@media screen and (max-width: 768px) {
    .layanan.card {
        height: 440px;
    }
    .div-partner {
        height: 180px;
    }
}
@media screen and (max-width: 450px) {
    .layanan.card {
        height: 450px;
        margin-bottom: 45px;
    }
    .div-partner {
        height: 130px;
    }
    .div-partner.short {
        height: 85px;
    }
    .div-partner.short:hover .info {
        height: 85px;
    }
    .div-partner:hover .info{
        height: 130px;
    }
    .banner-img {
        margin-bottom: 25px;
        height: 150px;
    }
    .mySwiper .swiper-slide {
        height: 585px;
    }
    .mySwiper .swiper-slide .container {
        height: 570px !important;
    }
    .title-banner {
        margin-bottom: 15px;
        margin-top: 25px;
    }
    .img-testi {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .map-gugel {
        margin-top: 30px;
    }
    .event-sect .testimonial.style-2 .testimonial-img img{
        height: 250px;
    }
}
